/.settings/
/target/
/.classpath
/.project
/.DS_Store
/target\generated-sources\annotations/
/target\generated-test-sources\test-annotations/
/target\generated-sources\annotations/
/target\generated-test-sources\test-annotations/
